[user]
  signingkey = 66F394E23D4E3ADA88F03F93F8D00D233E9EBCE4
  name = Stetsed
	email = stetsed@selfhostable.net 
[commit]
  gpgsign = true

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[diff]
  colorMoved = default

[delta]
    features = decorations

[delta "interactive"]
    keep-plus-minus-markers = true

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
