.sysleft-tag-material {
    background-color: rgba(0,0,0,0);
    color: $sapphire;
    font-family: 'JetBrainsMono Nerd Font';
    font-weight: 100;
    border-radius: 9999px;
    box-shadow: rgba(0,0,0,0);
    // min-width: 25px;
}

.sysleft-tag-material:hover {
    background-color: tint(rgba(245, 224, 220, 0.5), 20%);
}
