[Desktop Entry]
Version=1.0
Name=Looking Glass
Comment=Virtual machine display client
Exec=/home/stetsed/.VirtualMachine/looking-glass-client
Terminal=false
Type=Application
Categories=Utility;

