[Desktop Entry]
Version=1.0
Name=Windows Remote Desktop
Comment=Remote Desktop into Windows Virtual Machine
Exec=moonlight stream DESKTOP-JPS1OEQ Desktop --quit-after
Terminal=false
Type=Application
Categories=Utility;

